<div class="row no-gutters">
    <div class="main-section col-md-8">
        <div class="content-page-header">
            Create Event
        </div>
        <div class="page-content">
            <div class="row">
                <div class="col-md-8">
                    <!-- <div #graphContainer id="graphContainer"></div> -->

                    <!-- <div id="graph" tabindex="-1" style="position:relative;width:100%;overflow:hidden;cursor:default;">
                        <center id="splash" style="padding-top:230px;">
                            <img src="plugins/mxgraph/images/loading.gif">
                        </center>
                    </div> -->
                    <textarea id="xml" style="height:480px;width:684px;display:none;border-style:none;"></textarea>

                </div>
            </div>
        </div>
    </div>

    <div class="right-section col-md-4">
        <div class="section-header">
            Components
        </div>
        <div class="page-content">
            Panel
        </div>
    </div>
</div>