<div class="row no-gutters">
  <div class="main-section col-md-12">
    <div class="content-page-header">
      <button mat-icon-button class="back-btn" [routerLink]="['../../']">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      Quick Reply Component
    </div>
    <div class="page-content">
      <div class="row">
        <div class="col-md-4">

          <div class="card">
            <div class="card-header">
              Select Quick Reply
            </div>
            <div class="card-body">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon3">Identifier</span>
                </div>
                <input type="text" class="form-control" id="">
              </div>
              <hr>

              <input type="text" class="form-control" id="" aria-describedby="" placeholder="Quick Reply Text">
              <hr>
              <input type="text" class="form-control" id="" aria-describedby="" placeholder="Quick Reply Text">
              <hr>
              <button mat-icon-button>
                <mat-icon color="primary">add</mat-icon>
              </button>

              <button mat-raised-button color="secondry" class="float-right">SAVE</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>