<div class="row no-gutters">
  <div class="main-section col-md-12">
    <div class="content-page-header">
      <button mat-icon-button class="back-btn" [routerLink]="['../../']">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      Text Component
    </div>
    <div class="page-content">
      <div class="row">
        <div class="col-md-4">

          <div class="card">
            <div class="card-header">
              Select your text
            </div>
            <div class="card-body">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon3">Identifier</span>
                </div>
                <input type="text" class="form-control" id="">
              </div>
              <hr>

              <div class="row mb-2 no-gutters">
                <div class="col-md-10">
                  <input type="text" class="form-control" id="" aria-describedby="" placeholder="Select Placeholder">
                </div>
                <div class="col-md-2">
                  <button mat-icon-button color="primary">
                    <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                  </button>
                </div>
              </div>
              <textarea class="form-control" id="" rows="3" placeholder="Enter your text here.."></textarea>
              <hr>
              <button mat-raised-button color="secondry" class="float-right">SAVE</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>