<div class="row no-gutters">
  <div class="main-section col-md-9">
    <div class="content-page-header">
      Manage Agent
      <button mat-raised-button color="primary" class="float-right">CREATE AGENT</button>
    </div>
    <div class="page-content">
      <div class="row">
        <div class="col-md-12">
          <form>
            <div class="row">
              <div class="col-md-11">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Search Components</mat-label>
                  <input matInput>
                  <mat-icon matSuffix color="primary">search</mat-icon>
                </mat-form-field>
              </div>
              <div class="col-md-1">
                <button mat-icon-button color="primary" class="mt-3">
                  <mat-icon>filter_list</mat-icon>
                </button>
              </div>
            </div>

            <!-- <div class="input-group">
              <input type="text" class="form-control" placeholder="Search Agents" aria-label="Search Agents" aria-describedby="button-addon4">
              <div class="input-group-append" id="button-addon4">
                <button class="btn btmZero" type="button">
                  <mat-icon aria-label="Example icon-button">search</mat-icon>
                </button>
                <button class="btn btmZero" type="button">
                  <mat-icon aria-label="Example icon-button">filter_list</mat-icon>
                </button>
              </div>
            </div> -->
          </form>
        </div>
      </div>
      <div class="row no-gutters">
        <p mat-subheader>Agents List</p>
        <div class="col-md-12">
          <ul class="list-group created-list">
            <li class="list-group-item">
              <div class="text float-left">Cras justo odio</div>

              <a href="" class="float-right">
                <mat-icon>close</mat-icon>
              </a>
              <a href="" class="float-right">
                <mat-icon>create</mat-icon>
              </a>
              <a href="" class="float-right">
                <mat-icon>assignment_return</mat-icon>
              </a>
            </li>
            <li class="list-group-item">
              <div class="text float-left">Dapibus ac facilisis in</div>

              <a href="" class="float-right">
                <mat-icon>close</mat-icon>
              </a>
              <a href="" class="float-right">
                <mat-icon>create</mat-icon>
              </a>
              <a href="" class="float-right">
                <mat-icon>assignment_return</mat-icon>
              </a>
            </li>
            <li class="list-group-item">
              <div class="text float-left">Morbi leo risus</div>

              <a href="" class="float-right">
                <mat-icon>close</mat-icon>
              </a>
              <a href="" class="float-right">
                <mat-icon>create</mat-icon>
              </a>
              <a href="" class="float-right">
                <mat-icon>assignment_return</mat-icon>
              </a>
            </li>
            <li class="list-group-item">
              <div class="text float-left">Porta ac consectetur ac</div>

              <a href="" class="float-right">
                <mat-icon>close</mat-icon>
              </a>
              <a href="" class="float-right">
                <mat-icon>create</mat-icon>
              </a>
              <a href="" class="float-right">
                <mat-icon>assignment_return</mat-icon>
              </a>
            </li>
            <li class="list-group-item">
              <div class="text float-left">Vestibulum at eros</div>

              <a href="" class="float-right">
                <mat-icon>close</mat-icon>
              </a>
              <a href="" class="float-right">
                <mat-icon>create</mat-icon>
              </a>
              <a href="" class="float-right">
                <mat-icon>assignment_return</mat-icon>
              </a>
            </li>
          </ul>
          <!-- <mat-list role="list">
            <mat-list-item role="listitem">
              <div class="row w-100">
                <div class="col-md-10">
                  <form>
                    <div class="form-group w-100">
                      <input type="name1" class="form-control" id="exampleInputName1" aria-describedby="compName" value="Component One">
                    </div>
                  </form>
                </div>
                <div class="col-md-2">
                  <button mat-icon-button>
                    <mat-icon aria-label="Example icon-button">edit</mat-icon>
                  </button>
                  <button mat-icon-button>
                    <mat-icon aria-label="Example icon-button">assignment_return</mat-icon>
                  </button>
                </div>
              </div>
            </mat-list-item>
            <mat-list-item role="listitem">
              <div class="row w-100">
                <div class="col-md-10">
                  <form>
                    <div class="form-group w-100">
                      <input type="name1" class="form-control" id="exampleInputName1" aria-describedby="compName" value="Component Two">
                    </div>
                  </form>
                </div>
                <div class="col-md-2">
                  <button mat-icon-button>
                    <mat-icon aria-label="Example icon-button">edit</mat-icon>
                  </button>
                  <button mat-icon-button>
                    <mat-icon aria-label="Example icon-button">assignment_return</mat-icon>
                  </button>
                </div>
              </div>
            </mat-list-item>
            <mat-list-item role="listitem">
              <div class="row w-100">
                <div class="col-md-10">
                  <form>
                    <div class="form-group w-100">
                      <input type="name1" class="form-control" id="exampleInputName1" aria-describedby="compName" value="Component Three">
                    </div>
                  </form>
                </div>
                <div class="col-md-2">
                  <button mat-icon-button>
                    <mat-icon aria-label="Example icon-button">edit</mat-icon>
                  </button>
                  <button mat-icon-button>
                    <mat-icon aria-label="Example icon-button">assignment_return</mat-icon>
                  </button>
                </div>
              </div>
            </mat-list-item>
          </mat-list> -->
        </div>
      </div>

      <!-- <div class="row">
        <div class="col-md-12">
          
		  <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>
		  
        </div>
	  </div> -->
    </div>
  </div>

  <div class="right-section col-md-3">
    <app-test-agent-console></app-test-agent-console>
  </div>
</div>