<div class="row no-gutters">
  <div class="main-section col-md-8">
      <div class="content-page-header">
          Events

          <button mat-raised-button color="primary" class="float-right" [routerLink]="['./create-event']">CREATE EVENT</button>
      </div>
      <div class="page-content">
        <div class="row">
          <div class="col-md-8">

          </div>
        </div>
      </div>
  </div>
  
  <div class="right-section col-md-4">
      <app-test-agent-console></app-test-agent-console>
  </div>
</div>
