<div class="row no-gutters">
  <div class="main-section col-md-8">
    <div class="content-page-header">
      Entities
      <button mat-raised-button color="primary" class="float-right">CREATE NEW ENTITY</button>
    </div>
    <div class="page-content">
      <div class="row">
        <div class="col-md-10">
          <form>
            <div class="form-group">
              <input type="search" class="form-control" id="exampleInputSearch" aria-describedby="searchFilter"
                placeholder="Search Agents">
            </div>
          </form>
        </div>
        <div class="col-md-2">
          <button mat-icon-button>
            <mat-icon aria-label="Example icon-button">search</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon aria-label="Example icon-button">filter_list</mat-icon>
          </button>
        </div>
      </div>
      <div class="row">
        <h6 mat-subheader>Component Name</h6>
        <div class="col-md-12">
          <mat-list role="list">
            <mat-list-item role="listitem">
              <div class="row w-100">
                <div class="col-md-10">
                  <form>
                    <div class="form-group w-100">
                      <input type="name1" class="form-control" id="exampleInputName1" aria-describedby="compName" value="Component One">
                    </div>
                  </form>
                </div>
                <div class="col-md-2">
                  <button mat-icon-button>
                    <mat-icon aria-label="Example icon-button">edit</mat-icon>
                  </button>
                  <button mat-icon-button>
                    <mat-icon aria-label="Example icon-button">assignment_return</mat-icon>
                  </button>
                </div>
              </div>
            </mat-list-item>
            <mat-list-item role="listitem">
              <div class="row w-100">
                <div class="col-md-10">
                  <form>
                    <div class="form-group w-100">
                      <input type="name1" class="form-control" id="exampleInputName1" aria-describedby="compName" value="Component Two">
                    </div>
                  </form>
                </div>
                <div class="col-md-2">
                  <button mat-icon-button>
                    <mat-icon aria-label="Example icon-button">edit</mat-icon>
                  </button>
                  <button mat-icon-button>
                    <mat-icon aria-label="Example icon-button">assignment_return</mat-icon>
                  </button>
                </div>
              </div>
            </mat-list-item>
            <mat-list-item role="listitem">
              <div class="row w-100">
                <div class="col-md-10">
                  <form>
                    <div class="form-group w-100">
                      <input type="name1" class="form-control" id="exampleInputName1" aria-describedby="compName" value="Component Three">
                    </div>
                  </form>
                </div>
                <div class="col-md-2">
                  <button mat-icon-button>
                    <mat-icon aria-label="Example icon-button">edit</mat-icon>
                  </button>
                  <button mat-icon-button>
                    <mat-icon aria-label="Example icon-button">assignment_return</mat-icon>
                  </button>
                </div>
              </div>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
    </div>
  </div>

  <div class="right-section col-md-4">
    <app-test-agent-console></app-test-agent-console>
  </div>
</div>
