/* Fonts */

$font-primary-regular: 'robotoregular';
$font-primary-medium: 'robotomedium';
$font-primary-light: 'robotolight';
$font-primary-bold: 'robotobold';


/* Body */

$header_height: 60px;
$leftbar_min_height: 510px;